.contact-info .row {
    min-height: 60vh;
    padding: 2rem;
    align-items: center;
}

.contact-text h4 {
    padding: 2rem 0;
    text-transform: capitalize;
    font-size: 2rem;
}

form input,
textarea {
    width: 100%;
    display: block;
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 6px;
    text-transform: capitalize;
}

form button {
    float: right;
}