.skill-card {
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.s-icon {
    padding: 1rem;
    filter: drop-shadow(2px 4px 6px black);
}

.s-name {
    font-size: 1.5rem;
    font-style: italic;
    /* color: var(--color); */
}

@media only screen and (max-width:600px) {
    .skill-card {
        padding: 1rem;
    }

    .s-icon {
        padding: 1rem;
        width: 80px;
        margin: auto;
    }

    .s-name {
        font-size: medium;
    }
}