section {
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    padding: 4rem 1rem;
    background-color: antiquewhite;
}

.row {
    align-items: center;
    justify-content: center;
}

.page-title {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width:992px) {
    section {
        padding: 2rem 0;
    }
}