.s-container {
    display: flex;
    margin-bottom: 2rem;
}

.s-div {
    width: 50px;
    margin-right: auto;
}

.s-div img {
    filter: hue-rotate(68deg);
}

.s-div:hover {
    filter: drop-shadow(2px 4px 6px #fff);
}

@media only screen and (max-width:600px) {
    .s-div {
        padding: 0;
    }
}