.s-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.s-div {
    width: 60px;
}

.s-div a {
    color: inherit;
    text-decoration: none;
}

.s-div img {
    filter: hue-rotate(68deg);
}

.s-div:hover {
    filter: drop-shadow(2px 4px 6px #fff);
}

@media only screen and (max-width:600px) {
    .s-div {
        width: 30px;
    }

    .s-div span {
        display: none;
    }

}