.web-menu {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:992px) {
    .web-menu {
        display: none;
    }
}